<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

	<h2 class="footer-heading" style="text-align:center; font-size:14px;">
		<a href="https://twitter.com/neotokio_3">Tweet Me!</a>
		<a href="https://github.com/neotokio">Github Me!</a>
		</h2>
	    <h2 class="footer-heading" style="text-align:center; font-size:11px;">
		I solemnly swear that I am up to fill it someday</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            </li>
            <li><a class="u-email" href="mailto:{{ site.email }}"></a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <p></p>
      </div>
    </div>

  </div>

</footer>
